/.vs
/.git
/x64
/CPlusPlus/Debug_Windows_Cpp/x64
/CPlusPlus/TheColdWorldConfigEditer_Windows/x64
/CSharp/Debug_Csharp
/CSharp/TheColdWorldConfigEditer/Properties
/CSharp/TheColdWorldConfigEditer/bin
/CSharp/TheColdWorldConfigEditer/obj
*.bat
/CSharp/publish
/CSharp/TheColdWorldConfigEditer/TheColdWorldConfigEditer_Csharp.csproj.user
/CPlusPlus/Debug_Cpp/x64
/CPlusPlus/Debug_Cpp/Release
/Publish
/CPlusPlus/TheColdWorldConfigEditer_Windows/x64
/CPlusPlus/TheColdWorldConfigEditer_Windows/Release
/Release